---
layout: base.njk
title: Ruffle (Flash) Games
pageType: ruffle
permalink: /ruffle/index.html
---

<h1 class="page-title">Ruffle (Flash) Games</h1>

{% set pageType = "ruffle" %}
{% include "games-grid.njk" %}
