{# 
  Renders a single game card.
  Expected: game object, type string ("html" | "ruffle" | "webPorts"), baseUrls object
#}
<a
  class="game-card"
  href="/play/?game={{ game.slug }}&type={{ type }}"
  data-name="{{ game.name }}"
>
  <div class="game-card__thumb">
    <img
      src="{{ baseUrls[type] }}/{{ game.thumbnail }}"
      alt="{{ game.name }} thumbnail"
      loading="lazy"
      width="320"
      height="180"
    />
  </div>
  <div class="game-card__info">
    <h3 class="game-card__title">{{ game.name }}</h3>
    <p class="game-card__desc">{{ game.description }}</p>
    <span class="game-card__type game-card__type--{{ type }}">
      {% if type === "html" %}HTML5
      {% elif type === "ruffle" %}Flash / Ruffle
      {% elif type === "webPorts" %}Web Port
      {% endif %}
    </span>
  </div>
</a>
